.App {
  width:800;
  margin: 0 auto;
}

.nav-bar-items{
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: aqua;
  padding-top:20px;
  padding-bottom:20px
}

.app-title{
  text-align: center;
}


.nav-links{
  margin-right: 10px;

}

.nav-links a{
  text-decoration: none;
  color: black;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 8px;
}